input {
    width: 100%;
    height: 50px;
    font-size: 32px;
    padding-bottom: 5px;
}

main {
    height: 90%;
}

hr {
    margin-bottom: 4px;
}

.btn {
    width: 100%;
    margin-top: 12px;
}

.past-searches {
    padding-left: 0;
}

.city-info-div {
    border: 1px black solid;
    margin: 10px 0;
    padding: 5px;
    height: 40%;
}

.forecast {
    padding: 0 10px;
}

.city-info-list {
    list-style-type: none;
}

.city-info-list li {
    padding-bottom: 21px;
    font-size: 140%;
    font-weight: 400;
}

.city-name {
    line-height: 72px;
    font-size: 52px;
}

.forecast-date {
    height: 30%;
    margin: 0;   
}

.forecast-info {
    height: 70%;
    margin: 0;
    padding-left: 0;
}

.forecast-info li {
    padding-bottom: 35px;
    font-size: 117%;
}